<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity android:name=".peopleapi.presentation.activities.MyProfileActivity"></activity>
        <activity android:name=".peopleapi.presentation.activities.NewsActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/newsItem"/>
        <activity android:name=".peopleapi.presentation.activities.StartScreenActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/startScreen"/>
        <activity android:name=".peopleapi.presentation.activities.MainActivity"

            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>